<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <strong class="float-left">Employees</strong>
            <a href="/emp" class="float-right btn btn-primary btn-sm"> Add Employees</a>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Employee Contact</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.eid }}</td>
                        <td>{{ employee.ename }}</td>
                        <td>{{ employee.eemail }}</td>
                        <td>{{ employee.econtact }}</td>
                        <td>
                            <a href="/edit/{{ employee.id }}" class="btn btn-info btn-sm">Edit</a>
                            <a href="/delete/{{ employee.id }}" class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure to delete this?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>